<footer>
    <div class="contenedor">
        <!-- Información de contacto -->
        <div class="info-contacto">
            <h4>Información de Contacto</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Ubicación: <a
                    href="https://maps.app.goo.gl/oRsNv8No4sNeqtjN8" target="_blank"
                    rel="noopener noreferrer">Camilo Melet 41, K4700 San Fernando del Valle de Catamarca,
                    Catamarca</a></li>
                    <li><i class="fas fa-phone-alt"></i> Teléfono: <a href="tel:+5493834426715">+54 9 3834 426715</a>
                    </li>
                    <li><i class="fab fa-whatsapp"></i> Whatsapp: <a href="https://wa.me/5493834219034" target="_blank"
                        rel="noopener noreferrer">+54 9 3834 219034</a></li>
                        <li><i class="fas fa-envelope"></i> Email: <a
                            href="mailto:contacto@grandhotel.com.ar">contacto@grandhotel.com.ar</a></li>
                        </ul>
                    </div>
                    
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/images/logo/logo_blanco.png" alt="logo_del_hotel"
                            height="10%"></a>
                        </div>
                        
                        <!-- Enlaces Sociales -->
                        <div class="enlaces-sociales">
                            <h4>Seguinos!!!</h4>
                            <div class="enlaces-sociales-icons">
                                <a href="https://www.facebook.com/profile.php?id=61552470725456" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/grandhotelcatamarca/" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        
                        <!-- Derechos de autor -->
                        <p>&copy; 2025 Grand Hotel Catamarca. Todos los derechos reservados.</p>
                    </div>
                </footer>