<header>
    <!-- Navegación -->
    <nav class="barra-navegacion">
        <div class="contenedor">
            <div class="logo">
                <a href="/"><img src="/images/logo/logo_blanco.png" alt="logo_del_hotel"
                        height="10%"></a>
            </div>
            <ul class="enlaces-navegacion">

                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="boton-menu-movil">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>