<header>
    <!-- Navegación -->
    <nav class="barra-navegacion">
        <div class="contenedor">
            <div class="logo">
                <a href="/"><img src="/images/logo/logo_blanco.png" alt="logo_del_hotel"
                        height="10%"></a>
            </div>
            <ul class="enlaces-navegacion">
                <li class="tiene-submenu"><a href="/#inicio">Inicio &#9662;</a>
                    <ul class="submenu">
                        <li><a href="/#nosotros">Nosotros</a></li>
                        <li><a href="/#ubicacion">Ubicación</a></li>
                        <li><a href="/#habitaciones">Habitaciones</a></li>
                        <li><a href="/#galeria">Galería</a></li>
                    </ul>
                </li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="boton-menu-movil">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>