<section id="promo" class="seccion-principal-promo">
    <div class="contenido-principal-promo">
        <img src="/images/promociones/promo-de-prueba.png" alt="Promo del mes"> 

    </div>
</section>