<div>
    <h3>Servicios incluidos</h3>
    <p>
      <span class="material-icons">free_breakfast</span>  Desayuno &nbsp;
      <span class="material-icons">wifi</span>  WiFi &nbsp;    
      <span class="material-icons">ac_unit</span>  Aire acondicionado &nbsp;
      <span class="material-icons">tv</span>  LED TV &nbsp;
      <span class="material-icons">lock</span>  Caja fuerte &nbsp;
      <span class="material-icons">bed</span>  Ropa de cama &nbsp;
      <span class="material-icons">spa</span>  Toallas y Elementos de higiene personal &nbsp;
      <span class="material-icons">local_parking</span>  Cochera (sujeta a disponibilidad) &nbsp;
      <span class="material-icons">room_service</span>  Servicio a la habitación &nbsp;
    </p>
    
</div>