<!-- HEAD -->
<%- include('partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
            <main>
                <section class="contenedor">
                    <div>
                        <h1>Habitaci贸n doble</h1>
                        <h3>Detalles</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro harum eaque, aspernatur
                            praesentium debitis laudantium non, officiis iste dolorem nulla atque quo repellat provident
                            rem deleniti possimus. Dolorem, tenetur maiores.</p>
                        <p><strong>Check-in:</strong> 14:00 hs</p>
                        <p><strong>Check-out:</strong> 10:00 hs</p>
                    </div>
                    <!-- servicios incluidos -->
                    <%- include('partials/servicios-habitacion') %>

                        <div class="galeria-habitacion">
                            <div class="imagen-principal-contenedor">
                                <button class="btn-navegacion izquierda">&#10094;</button>
                                <img class="imagen-principal" src="./images/habitacion1/1-260.jpg" alt="Principal" />
                                <button class="btn-navegacion derecha">&#10095;</button>
                            </div>
                            <div class="miniaturas">
                                <img src="./images/habitacion1/1-260.jpg" alt="" />
                                <img src="./images/habitacion1/1-125.jpg" alt="">
                                <img src="./images/habitacion1/1-165.jpg" alt="" />
                            </div>
                        </div>


                </section>
                <section id="formulario-reserva" class="contenedor" >
                    <div class="formulario-contacto">
                    <form action="./javascript/formulario-reserva.js" method="POST">
                        <h2>Consulta disponibilidad</h2>
                        <div class="campo-form">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombrre" required>
                        </div>
                        <div class="campo-form">
                            <label for="email">Correo Electr贸nico:</label>
                            <input type="email" id="email" name="email" placeholder="tuemail@ejemplo.com" required>
                        </div>
                        <div class="campo-form">
                            <label for="fecha_ingreso">Fecha de Ingreso:</label>
                            <input type="date" id="fecha_ingreso" name="fecha_ingreso" required>
                        </div>
                        <div class="campo-form">
                            <label for="fecha_salida">Fecha de Salida:</label>
                            <input type="date" id="fecha_salida" name="fecha_salida" required>
                        </div>
                        <div>
                            <legend>Habitaci贸n :</legend>
                            <label for="habitacion_doble">
                                <input type="radio" id="habitacion_doble" name="habitacion" value="Doble" required>
                                Habitaci贸n Doble
                            </label>
                        </div>
                        <button type="submit" class="btn">Enviar</button>
                    </form>
                </div>
                </section>

            </main>


            <!-- FOOTER -->
            <%- include('partials/footer') %>
                <script src="/javascripts/script.js"></script>
                <script src="/javascripts/galeria-habitacion.js"></script>
                <script src="/javascripts/formulario-reserva.js"></script>
    </body>

    </html>