<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
 <head>
<%- include('partials/head') %>
 </head>



    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
            <main>


                <!-- Sección Principal -->
                <section id="inicio" class="seccion-principal">
                    <div class="contenido-principal">
                        <h1>Bienvenido al Grand Hotel</h1>
                        <p>Descubra el placer de hospedarse en un lugar donde cada detalle está pensado para usted.</p>
                        <a href="#habitaciones" class="boton">Ver Habitaciones</a>
                    </div>
                </section>
                <!-- Sección oferta -->
                <%# include('partials/promo') %>

                    <!-- Sección Sobre Nosotros -->
                    <section id="nosotros" class="seccion">
                        <div class="contenedor">
                            <h2>Sobre Nosotros</h2>
                            <div class="contenido-nosotros">
                                <div class="texto-nosotros">
                                    <h3>Un Hotel con historia</h3>
                                    <p>Grand Hotel es un hotel con la impronta de una familia Italiana con calidez de hogar. </p>
                                    
                                    <h3>Nuestros Valores</h3>
                                    <ul>
                                        <li>Excelencia en servicio</li>
                                        <li>Atención personalizada</li>
                                        <li>Cuidado y seguridad grantizada</li>
                                    </ul>

                                </div>
                                <div class="imagen-nosotros">
                                    <img src="/images/galeria/1-366.jpg" alt="Nuestro Hotel">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Sección Ubicación -->
                    <section id="ubicacion" class="seccion">
                        <div class="contenedor">
                            <h2>Ubicación</h2>
                            <div class="ubicacion-info-galeria">
                                <div class="galeria-ubicacion">
                                    <img src="/images/ubicacion/alameda.jpg" alt="Foto de plaza La Alameda">
                                    <img src="/images/ubicacion/catedral.jpg" alt="Foto de la Catedral">
                                    <img src="/images/ubicacion/plaza25deMayo.jpeg" alt="Foto de la plaza 25 de Mayo">
                                    <img src="/images/ubicacion/museo-de-la-ciudad-sfvc.jpg"
                                        alt="Foto del museo de la ciudad">
                                    <img src="/images/ubicacion/parquedelosvientos.jpeg"
                                        alt="Foto del parque de los vientos">
                                    <img src="/images/ubicacion/eljumeal.JPG" alt="Foto de ciudad desde el dique">

                                </div>
                                <div class="ubicacion-info">
                                    <p>El hotel se encuentra ubicado en una zona privilegiada de la ciudad, frente a la
                                        plaza
                                        "La
                                        alameda", un oasis
                                        verde en plena ciudad. Un hermoso ambiente para disfrutar si tiene niños, ya que
                                        tiene
                                        muchos
                                        juegos y un carrusel.</p>
                                    <p>Se encuentra a 5 minutos del casco centrico de la ciudad, dónde se encontrará con
                                        la
                                        plaza principal "25 de Mayo", la cual se encuentra frente a la Catedral
                                        Basílica de Nuestra Señora del Valle. Allí también encontrará una zona de bares
                                        frente a
                                        la
                                        plaza, museos, el cine teatro y el inicio de la peatonal de compras de la
                                        ciudad.</p>
                                    <p>En la zona alta de la ciudad se encuentra el "Parque de los vientos" a metros del
                                        dique "
                                        El jumeal". Un lugar dónde se encuentra un punto panorámico que se ve toda
                                        ciudad, sin
                                        dudas un lugar recomendado para visitar. </p>
                                    <a href="https://maps.app.goo.gl/oRsNv8No4sNeqtjN8" target="_blank"
                                        rel="noopener noreferrer" class="boton">Ver mapa</a>

                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Sección Habitaciones -->
                    <section id="habitaciones" class="seccion fondo-claro">
                        <div class="contenedor">
                            <h2>Nuestras Habitaciones</h2>
                            <div class="rejilla-habitaciones">

                                <!-- Habitación 1 -->
                                <div class="tarjeta-habitacion">
                                    <img src="/images/habitacion1/simple.jpeg" alt="Habitación simple">
                                    <div class="info-habitacion">
                                        <h3>Habitación Simple</h3>

                                        <a href="/habitacion-simple" class="boton">Ver Más</a>

                                    </div>
                                </div>

                                <!-- Habitación 2 -->
                                <div class="tarjeta-habitacion">
                                    <img src="/images/habitacion2/1-260.jpg" alt="Habitación Doble">
                                    <div class="info-habitacion">
                                        <h3>Habitación Doble</h3>

                                        <a href="/habitacion-doble" class="boton">Ver Más</a>
                                    </div>
                                </div>

                                <!-- Habitación 3 -->
                                <div class="tarjeta-habitacion">
                                    <img src="./images/habitacion3/secundaria.jpg"
                                        alt="Habitación Triple">
                                    <div class="info-habitacion">
                                        <h3>Habitación Triple</h3>

                                        <a href="/habitacion-triple" class="boton">Ver Más</a>
                                    </div>
                                </div>

                                <!-- Habitación 4 -->
                                <div class="tarjeta-habitacion">
                                    <img src="./images/habitacion4/principal1.jpg"
                                        alt="Habitación Familiar">
                                    <div class="info-habitacion">
                                        <h3>Habitación Cuádruple</h3>
                                        <a href="/habitacion-cuadruple" class="boton">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

            <!-- Sección Galería -->
            <section id="galeria" class="seccion">
                <div class="contenedor">
                    <h2>Galería</h2>
                    <div class="envoltorio-galeria">
                        <button class="boton-galeria izquierda"><i class="fas fa-chevron-left"></i></button>
                        <div class="rejilla-galeria">
                            <div class="elemento-galeria"><img src="/images/galeria/hotel-vista.jpg"
                                    alt="Vista del hotel desde la plaza la Alameda">
                            </div>
                            <div class="elemento-galeria"><img src="/images/galeria/1-366.jpg" alt="Entrada">
                            </div>
                            <div class="elemento-galeria"><img src="/images/galeria/comedor.jpg" alt="Comedor">
                            </div>
                            <div class="elemento-galeria"><img src="images/galeria/estar.jpg" alt="Estar del hotel">
                            </div>
                            <div class="elemento-galeria"><img src="/images/galeria/1-365.jpg" alt="Recepción">
                            </div>               
                        </div>
                        <button class="boton-galeria derecha"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>

                <!-- Modal de imagen -->
                <div class="modal" id="modal">
                    <span class="cerrar-modal">&times;</span>
                    <img class="contenido-modal" id="modal-img">
                </div>
            </section>
            </main>
            <!-- FOOTER -->
            <%- include('partials/footer') %>



                <script src="/javascripts/script.js"></script>
    </body>

    </html>