<!-- HEAD -->
<%- include('partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
        <main>

    
            <!-- Sección Principal -->
            <section class="seccion-principal-servicios">
                <div class="contenido-principal-servicios">
                    <h1>Nuestros servicios</h1>
                    <p>Te ofrecemos todo esto para hacer tu estadía mejor</p>
                </div>
            </section>
         
        </main>

                    <!-- FOOTER -->
        <%- include('partials/footer') %>
        <script src="/javascripts/script.js"></script>
    </body>

    </html>