<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
 <head>
    <%- include('partials/head') %>
 </head>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
            <main>


                <!-- Sección Principal -->
                <section class="seccion-principal-servicios">
                    <div class="contenido-principal-servicios">
                        <h1>Nuestros servicios</h1>
                        
                    </div>
                </section>
                <section id="desayuno" class="seccion">
                    <div class="contenedor">

                        <h2>Desayuno</h2>
                        <p>Con cada reserva, ofrecemos un delicioso desayuno americano que incluye una variedad de
                            infusiones,leche,café y productos de panadería.</p>
                        <p> También contamos con opciones especiales para celíacos, asegurando que todos nuestros
                            huéspedes disfruten de una experiencia cómoda y deliciosa.</p>
                        <p>El desayuno incluye:</p>
                        <ul>
                          
                            <li>Mate (se incluye el set de mate)</li>
                            <li>Mate cocido</li>
                            <li>Té</li>
                            <li>Leche</li>
                            <li>Yogurt</li>
                            <li>Café</li>
                            <li>Jugo</li>
                            <li>Frutas</li>
                            <li>Frutos secos (Nueces, higos, pasas de uva)</li>
                            <li>Cereales</li>
                            <li>Facturas</li>
                            <li>Galletas</li>
                            <li>Budines y masas</li>
                            <li>Pan Integral</li>
                            <li>Pan lactal blanco</li>
                            <li>Pan lactal negro</li>
                            <li>Mermeladas caseras</li>
                            <li>Manteca</li>
                            <li>Dulce de leche</li>
                            <li>Queso crema</li>
                            <li>Huevos (a pedido)</li>

                        </ul>
                        <div class="imagenes-desayuno">
                            <img src="/images/servicios/1-48(1).jpg" alt="Foto del desayuno">
                            <img src="/images/servicios/gh-48.jpg" alt="Foto sala desayuno">
                            <img src="/images/servicios/1-63.jpg" alt="Foto variedad desayuno">
                        </div>
                    </div>

                </section>
                <!-- Nueva sección de sala de trabajo-estudio -->
                <section id="sala-trabajo" class="seccion">
                    <div class="contenedor">
                        <h2>Sala de Trabajo-Estudio</h2>
                        <p>Contamos con una amplia sala de trabajo-estudio que está equipada con una PC para el uso exclusivo de los
                            huéspedes, permitiéndote trabajar o acceder a internet cómodamente.</p>
                        <p>Este espacio multifuncional te ofrece la flexibilidad de elegir entre trabajar en un
                            ambiente cómodo o disfrutar de un desayuno en un entorno relajado y privado.</p>
                        <div class="imagenes-sala-de-trabajo">
                            <img src="/images/servicios/sala-trabajo-principal.jpg" alt="">
                            <img src="/images/servicios/sala-trabajo-secundaria.jpg" alt="">
                            <img src="/images/servicios/sala-trabajo-pc.jpg" alt="">
                        </div>
                    </div>
                </section>
                <section id="cochera" class="seccion">
                    <div class="contenedor">
                        <h2>Cochera</h2>
                        <p>La cochera está disponible solamente a pedido</p>
                    
                    </div>

                </section>
                <section id="limpieza" class="seccion">
                    <div class="contenedor">

                        <h2>Servicio de limpieza</h2>
                        <p>En nuestro hotel, nos aseguramos de que cada habitación esté impecable para que disfrutes de
                            tu estadía con total tranquilidad. Nuestro equipo de limpieza realiza un servicio diario para
                            que tu habitación siempre esté lista para descansar.</p>
                        <p>Entre las principales características del servicio de limpieza, ofrecemos:</p>
                        <ul>
                            <li>Limpieza diaria de habitaciones</li>
                            <li>Cambio de sábanas y toallas</li>
                            <li>Reposición de elemntos de higiene personal</li>
                            <li>Productos de limpieza de alta calidad</li>
                            <li>Desinfección frecuente de superficies de alto contacto</li>
                            <li>Atención personalizada para necesidades especiales de limpieza</li>
                        </ul>

                        <div class="imagenes-limpieza">
                            <img src="/images/servicios/1-133.jpg" alt="Personal de limpieza">
                            <img src="/images/servicios/1-243.jpg" alt="Habitación limpia">
                            <img src="/images/servicios/1-152.jpg" alt="Limpieza baño">
                        </div>
                    </div>
                </section>

            </main>

            <!-- FOOTER -->
            <%- include('partials/footer') %>
                <script src="/javascripts/script.js"></script>
    </body>

    </html>