<!-- HEAD -->
<%- include('partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
            <main>


                <!-- Sección Principal -->
                <section class="seccion-principal-servicios">
                    <div class="contenido-principal-servicios">
                        <h1>Nuestros servicios</h1>
                        <p>Te ofrecemos todo esto para hacer tu estadía mejor</p>
                    </div>
                </section>
                <section id="desayuno" class="seccion">
                    <div class="contenedor">

                        <h2>Desayuno</h2>
                        <p>Con cada reserva, ofrecemos un delicioso desayuno americano que incluye una variedad de
                            infusiones,leche,café y productos de panadería.</p>
                            <p> También contamos con opciones especiales para celíacos, asegurando que todos nuestros huéspedes disfruten de una experiencia cómoda y deliciosa.</p>
                    <p>El desayuno incluye:</p>
                    <ul>
                        <li>Infusiones <ul>
                                <li>Mate (se incluye el  set de mate)</li>
                                <li>Mate cocido</li>
                                <li>Té</li>
                            </ul>
                        </li>
                        <li>Leche</li>
                        <li>Café</li>
                        <li>Jugo</li>
                        <li>Frutas</li>
                        <li>Frutos secos</li>
                        <li>Cereales</li>
                        <li>Facturas</li>
                        <li>Galletas</li>
                        <li>Budines y masas</li>
                        <li>Pan Integral</li>

                    </ul>
                    <p><strong>Horario de desayuno:</strong> de 7:00 a 10:00.</p>
                    <div class="imagenes-desayuno">
                        <img src="/images/servicios/1-48(1).jpg" alt="Foto del desayuno">
                        <img src="/images/servicios/gh-48.jpg" alt="Foto sala desayuno">
                        <img src="/images/servicios/1-63.jpg" alt="Foto variedad desayuno">
                    </div>
                </div>

                </section>
                <section id="limpieza" class="seccion">
                    <div class="contenedor">

                        <h2>Servicio de limpieza</h2>
                        <p>En nuestro hotel, nos aseguramos de que cada habitación esté impecable para que disfrutes de tu estadía con total comodidad. Nuestro equipo de limpieza realiza un servicio diario para que tu habitación siempre esté fresca y lista para descansar.</p>
                    <p>Entre las principales características del servicio de limpieza, ofrecemos:</p>
                    <ul>
                        <li>Limpieza diaria de habitaciones</li>
                        <li>Cambio de sábanas y toallas</li>
                        <li>Reposición de elemntos de higiene personal</li>
                        <li>Productos de limpieza de alta calidad</li>
                        <li>Desinfección frecuente de superficies de alto contacto</li>
                        <li>Atención personalizada para necesidades especiales de limpieza</li>
                    </ul>
                    
                    <div class="imagenes-limpieza">
                        <img src="/images/servicios/1-133.jpg" alt="Personal de limpieza">
                        <img src="/images/servicios/1-243.jpg" alt="Habitación limpia">
                        <img src="/images/servicios/1-152.jpg" alt="Limpieza baño">
                    </div>
                </div>
                </section>

            </main>

            <!-- FOOTER -->
            <%- include('partials/footer') %>
                <script src="/javascripts/script.js"></script>
    </body>

    </html>